
a.nav-link{
    color: black;
    font-size: small;
}
a.nav-link button{
    align-items: center;
    margin-left: 5px;
}
a.nav-link:hover{
    color: white;
    background: rgb(255, 65, 65);
}

div.nav.nav-tabs a.nav-link.active{
    color: white;
    background: rgb(255, 65, 65);
}